<html>
    <head>
        <!--jQuery -->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <!-- Bootstrap - Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- Bootstrap - Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/static/styles/style.css">
        <title>2017 Expo Tracker - About</title>

    </head>

    <body>

        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1>About Beer Tracker</h1>
                    <p>Beer Tracker is designed to provide a way to track beer consumption at the 2017 Rochester Real Beer Expo. It was created by <a href="http://www.acritelli.com">Anthony Critelli</a></p>

                    <p>Answers to potential questions:</p>

                    <h2>Why not just use Untappd?</h2>
                    <p>Untappd is awesome! I just find it tedious to try searching for beers while I'm at beer tasting events. I usually end up carrying aroudn a slip of paper to take notes on (and see others doing the same). Having a simple interface to quickly jot down notes and rate my favorite beers will hopefully make this easier.</p>

                    <h2>Can it do x,y,z?</h2>
                    <p>Probably not, but I'd like to actually improve upon this (assuming people use it). Feel free to email your suggestions to critellia AT gmail dot com.

                    <h2>What's the technology stack?</h2>
                    

                    <h2>Why does the code suck?</h2>
                    <p>This was written in like 2 days, and I'm not a web developer. My goal is to improve on this before the Flour City Brewers Fest. If you have suggestions, please feel free to email them to me: critellia AT gmail dot com.</p>
                    <h2>I lost my URL</h2>

                    <h2>BOOKMARK THIS PAGE!</h2>
                    <p>This is your personal dashboard. Bookmark this page so that you can come back to it later. If you loose this URL, then you will need to create a new account.</p>

                    <button type="submit" class="btn btn-success" id="submitChanges">Return to Dashboard</button>
                </div>
        </div>

    </body>

</html>