<html>
    <head>
        <!--jQuery -->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <!-- Bootstrap - Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- Bootstrap - Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <!-- FontAwesome -->
        <script src="https://use.fontawesome.com/3d0f274b59.js"></script>
        <!-- Local CSS -->
        <link rel="stylesheet" href="/static/styles/style.css">
        <title>Beer Tracker - Dashboard</title>

    </head>

    <body>

        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1><i class="fa fa-beer" aria-hidden="true"></i>  Beer Tracker</h1>
                    <h2 id="nameHeader">Welcome</h2>
                    <h3>BOOKMARK THIS PAGE!</h3>
                    <p>This is your personal dashboard. Bookmark this page so that you can come back to it later. If you loose this URL, then you will need to create a new account.</p>
                    <p>This website will be brought down one week after the expo, so please be sure to export your CSV before then if you want it</p>
                    <form>
                        <label for="brewerySelector">Brewery</label>
                        <select class="form-control" id="brewerySelector" name="brewerySelector">
                        </select>
                        <input type="text" class="form-control" id="otherBrewery" placeholder="Brewery Name">
                        <label for="beerSelector">Beer</label>
                        <select class="form-control" id="beerSelector" name="beerSelector">
                        </select>
                        <input type="text" class="form-control" id="otherBeer" placeholder="Beer Name">
                        <label for="rating">Rating (out of 5)</label>
                        <select class="form-control" id="rating" name="rating">
                            <option>1</option>
                            <option>1.5</option>
                            <option>2</option>
                            <option>2.5</option>
                            <option>3</option>
                            <option>3.5</option>
                            <option>4</option>
                            <option>4.5</option>
                            <option>5</option>
                        </select>
                        <label for="tastingNotes">Tasting Notes</label>
                        <textarea class="form-control" placeholder="Tasting notes" name="tastingNotes" id="tastingNotes"></textarea>
                    </form>
                    <button type="submit" class="btn btn-success" id="submitChanges">Submit</button>
                    <div class="alert alert-success" role="alert">Huzzah!</div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <a href="/users/{{ url }}/downloadRatings"><button type="submit" class="btn btn-info" id="downloadRatings">Download Ratings (.csv)</button></a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <a href="/static/about.html">About</a>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            var url = "{{ url }}"
        </script>

        <script src="/static/js/userPage.js"></script>
    </body>

</html>