{% extends "layout.html" %}
{% block title %}Dashboard{% endblock %}
{% block head %}
    {{ super() }}
    <!-- Bootstrap Toggle -->
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 id="nameHeader">Welcome</h2>
                <h3>BOOKMARK THIS PAGE!</h3>
                <p>This is your personal dashboard. Bookmark this page so that you can come back to it later. If you loose this URL, then you will need to create a new account.</p>
                <p>This website will be brought down one week after the expo, so please be sure to export your CSV before then if you want it</p>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-success" role="alert">{{ message }}</div>
                {% endfor %}
                {% endif %}
                {% endwith %}
                <form action="/users/{{ templateVars['url'] }}/editRating" method="post">
                    <label for="brewerySelector">Brewery</label>
                    <select class="form-control" id="brewerySelector" name="brewerySelector">
                    </select>
                    <input type="text" class="form-control" id="otherBrewery" placeholder="Brewery Name" name="otherBreweryName">
                    <label for="beerSelector">Beer</label>
                    <select class="form-control" id="beerSelector" name="beerSelector">
                    </select>
                    <input type="text" class="form-control" id="otherBeer" placeholder="Beer Name" name="otherBeerName">
                    <div class="mustTryDiv">
                        <label for="mustTry">Must try?</label>
                        <input type="checkbox" name="mustTry" id="mustTry" data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="success"><br />
                    </div>
                    <label for="rating">Rating (out of 5)</label>
                    <select class="form-control" id="rating" name="rating">
                        <option></option>
                        <option>1</option>
                        <option>1.5</option>
                        <option>2</option>
                        <option>2.5</option>
                        <option>3</option>
                        <option>3.5</option>
                        <option>4</option>
                        <option>4.5</option>
                        <option>5</option>
                    </select>
                    <label for="tastingNotes">Tasting Notes</label>
                    <textarea class="form-control" placeholder="Tasting notes" name="tastingNotes" id="tastingNotes"></textarea>
                    <button type="submit" class="btn btn-success" id="submitChanges">Submit</button>
                </form>
            </div>
        </div>
    </div>


    <script src="/static/js/userPage.js"></script>

    <script type="text/javascript">
        var url = "{{ templateVars['url'] }}"
        $(document).ready(buildPage( "{{ templateVars['action'] }}", 
        {% if templateVars['selectedBrewery'] and templateVars['selectedBeer'] %}
        "{{ templateVars['selectedBrewery'] }}", "{{ templateVars['selectedBeer'] }}"
        {% endif %}
        ))
    </script>

{% endblock %}