#otherBrewery {
    display: none;
}

#otherBeer {
    display: none;
}

.row {
    margin-top: 10px;
}

h3 {
    color: red;
    font-weight: bold;
}

strong {
    color: red;
}

#downloadRatings {
    margin-top: 5%;
}

.mustTryDiv {
    margin-top: 5px;
    margin-bottom: 5px;
}